body {
	display: flex;
	align-items: center;
	justify-content: center;
}

#monitor {
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}
